*{ 
    margin: 0px;
}

#sidebar {
	/*Strictly Necessary */
	position:fixed; 
	height: 88%;
	width:20%;
    margin: 0px;
    bottom:0;
    overflow-y:auto;
    overflow-x:hidden; 

}


#rightSideWrapper {
	/*Strictly Necessary */
	width:80%; 
	float: right;

}
footer{
    text-align: center;
}
span.title{
    font-size: 25px;
    font-weight: bold;
}
span.content{
    text-align: justify;
    line-break: auto;
}
header {
    /*Strictly Necessary */
    padding-top:20px;
	position: fixed;
	width: 100%;	
    height: 100px; /*Adjust the hight to your purposes*/
    background: white;
	

}

.ContentBox{
	margin-top: 100px; /*The height of the   header*/
	display:flex;
	flex-flow: row wrap;
} 

main, section, footer {
    /*Aesthetics*/        
	 margin: 25px; 
	 padding: 20px;
}

main {
  /*Strictly Necessary */
  order: 1;
  flex: 0 1 100%; 
	
}

section {
  /*Strictly Necessary */

   order: 2;
   flex: 0 1 100%;
   margin-bottom: 100px;
}

footer {
  /*Strictly Necessary */
  order: 3;
  flex: 0 1 100%;
	
}
a.menu{
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
    width: 100%;
    background: lightgray;
    color:black;
    margin: 2px;
}
a.menu:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07) ), lightgray;
}
a.empty{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
a{
    color:black;
    line-break: normal;
}
.header {
    padding: 10px 16px;
    background: white
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 102px;
  }
  a.icon{
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
  }
  a.icon:hover{
      color: orangered;
  }
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
img.booksize{
    width: 160px;
    height:230px;
    margin-bottom: 10px;
    
}
div.circle{
    border-radius: 50%;
    background:orangered;
    position: absolute;
    border:  10px white;
    border: 2px solid white;
    bottom:30px;
    width:50px;
    height:50px;
}
div.circletext{
    height: inherit;
    vertical-align: middle;
    text-align:center;
    top:20%;
    position: relative; /*nao esquecer desta treta*/
    color:white
}
div.price{
    text-align: left;
    float:left;
    margin-top:-10px;
    width:75%;
    position: absolute;
}
div.footer{
    bottom:0;
    background: #333f33;
}
div.originalprice{
    text-decoration: line-through;
    font-size: 15px;
    color: gray;
}
div.discountprice{
    text-decoration: underline;
    font-size: 25px;
    font-weight: bolder;
    color: orangered
}
div.description{
    margin-top:25px;
    position: absolute;
    font-size:10px;
}
span.ofs{
    text-decoration: line-through;
    font-size: 15px;
    margin-top:25px;
    color: gray;
}
